.LinkCard {
	width: 100%;
	height: auto;
	display: grid;
	grid-template: repeat(3, 1fr) / 100%;
	grid-template-areas:
		'originalLink'
		'shortenedLink'
		'copyButton';
	gap: 5px 30px;
	margin: 10px 0;
	padding: 15px;
	background-color: var(--white);
	border-radius: 10px;
	opacity: 0;
	animation: fadeIn 0.2s ease-in-out forwards;
}

.originalLink,
.shortenedLink {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: bold;
	padding: 10px 0;
}

.originalLink {
	grid-area: originalLink;
	border-bottom: 1px solid var(--Gray);
	color: var(--Dark_Violet);
}

.shortenedLink {
	grid-area: shortenedLink;
	color: var(--Cyan);
}

.LinkCard button::before {
	width: 100%;
	height: 100%;
	content: 'copied!';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--Dark_Violet);
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
}

.LinkCard button:active:before {
	animation: fadeInOut 1s ease-in-out forwards;
}

/* animations */
@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOut {
	0%,
	100% {
		visibility: visible;
		opacity: 1;
	}
}

/* media query styles */
@media screen and (min-width: 800px) {
	.LinkCard {
		grid-template: 100% / 5fr 4fr 1fr;
		grid-template-areas: 'originalLink shortenedLink copyButton';
	}

	.originalLink {
		border: none;
	}

	.shortenedLink {
		justify-content: flex-end;
	}
}
