.Link {
	width: 100%;
	text-decoration: none;
	text-align: center;
}

.Link[type='navlink'] {
	margin-bottom: 20px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fffcff;
}

.Link[type='footerLink'] {
	margin-bottom: 20px;
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--Grayish_Violet);
}

/* media queries styles */
@media screen and (min-width: 800px) {
	.Link.navlink {
		color: var(--Grayish_Violet);
	}
}
