.Link {
	width: 100%;
	text-decoration: none;
	text-align: center;
}

.Link[type='navlink'] {
	margin-bottom: 20px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fffcff;
	transition: transform 0.1s ease-in-out;
}

.Link[type='footerLink'] {
	margin-bottom: 20px;
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--Grayish_Violet);
}

/* media queries styles */
@media screen and (min-width: 800px) {
	.Link[type='navlink'] {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		color: var(--Grayish_Violet);
	}
}

@media (hover: hover) {
	/* if the device has a cursor, then the following styles should be added. */
	.Link[type='navlink']:hover {
		transform: translateY(5px);
	}
}
