.Navbar {
	/* position: relative; */
	display: flex;
	/* flex-direction: column;
	align-items: center;
	justify-content: space-between; */
	align-items: center;
}

/* burger menu icon styles */
.NavbarIcon {
	width: 35px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.iconLine {
	width: 100%;
	height: 4px;
	background-color: var(--Dark_Violet);
	border-radius: 5px;
	opacity: 1;
	transform-origin: left center;
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.icon__IsOpen .iconLine:nth-child(1) {
	transform: rotate(48deg);
}

.icon__IsOpen .iconLine:nth-child(2) {
	transform: translateX(-20px);
	opacity: 0;
}

.icon__IsOpen .iconLine:nth-child(3) {
	transform: rotate(-48deg);
}

/* burger menu styles */
.NavbarMenu {
	width: 80%;
	max-width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 20px;
	background-color: var(--Dark_Violet);
	border-radius: 10px;
	transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.NavbarMenu__IsClosed {
	visibility: hidden;
	opacity: 0;
}

.NavbarMenu__IsOpen {
	visibility: visible;
	opacity: 1;
}

.NavbarLinks,
.NavbarButtons {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.NavbarLinks a {
	text-align: center;
}

.NavbarBreakLine {
	width: 100%;
	border: none;
	border-top: 1px solid var(--Gray);
}

.NavbarButtons button {
	margin-top: 20px;
}

/* media queries styles */
@media screen and (min-width: 800px) {
	.Navbar {
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	.NavbarIcon {
		display: none;
	}

	.NavbarBreakLine {
		display: none;
	}

	.NavbarMenu {
		width: 100%;
		max-width: none;
		position: static;
		flex-direction: row;
		background-color: unset;
	}

	.NavbarLinks,
	.NavbarButtons {
		flex-direction: row;
	}
}
