.Shortener {
	width: 100%;
	margin: 30px 0;
	padding: 0 20px;
}

.ShortenerForm {
	width: 100%;
	display: grid;
	grid-template: 1fr 1fr / 100%;
	grid-template-areas:
		'input'
		'button';
	gap: 10px;
	padding: 20px;
	border-radius: 20px;
	background-color: var(--Dark_Violet);
	background-image: url('../images/bg-shorten-desktop.svg');
	background-size: cover;
	background-position: right bottom;
}

.FormInput {
	width: 100%;
	grid-area: input;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 1.6rem;
}

.FormInput:focus {
	outline: solid 2px var(--Cyan);
}

.FormInput:invalid {
	outline: solid 2px var(--Red);
}

.Shortener button {
	grid-area: button;
}

/* media query styles */
@media screen and (min-width: 800px) {
	.Shortener {
		padding: 0 50px;
	}

	.ShortenerForm {
		justify-content: space-between;
		grid-template: 100% / 8fr 2fr;
		grid-template-areas: 'input button';
		gap: 20px;
		padding: 40px;
	}
}

@media screen and (min-width: 1000px) {
	.Shortener {
		padding: 0 100px;
	}
}
